.product-card{
    width: 250px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px black;
}

.product-card-image{
    height: 150px;
    display: block;
    margin: 10px auto;
}

.btn-buy-now{
    background: black;
    text-decoration: none;
    color: white;
    display: block;
    margin: 10px auto;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    width: 150px;
}